.bottom-header {
position: absolute;
top: 0;
left: 0;
right: 0;
transition: all 0.2s ease-in-out;
}

header.main-header .bottom-header.scrolled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.main-container {
  width: 100%;

}
.main-menu {
  display: flex;
  justify-content: space-between;
  direction: rtl;
  align-content: center;
  align-items: center;
  flex: 1;
}
.sub-list {
  cursor: pointer;
}

.sub-list .sub-list-item {
  background-color: #d4d4d4;
}

.sub-list .sub-list-item ul li a {
 color: inherit;
}

.sub-list .sub-list-item ul li a:hover {
 color: var(--primary);
}

.sub-list  .sub-list-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  border: 1px solid var(--primary);

}

.sub-list .sub-list-item.active {
  background-color: #ffffff;
}
.list-item {
  padding: 2px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list a span{
  padding: 10px;
}

.category-list ul li{
  padding: 5px ;
  background-color: rgb(255, 255, 255);
}