.profile-section-link .edit-info__button  {
    background-color: #28a745 !important;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content !important;
    padding: 7px 10px !important;
}