.home-top-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 100%
}

.main-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-top: 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width:auto;
    height: 100%;
    margin-top: 20px;
    flex: 1;
}

.sidebar-banner {
    height: 100%;
    margin: 0 !important;
}

.custom-carousel {
    width: 100%;
    height: 100%;
}
.splide__list {
overflow: visible !important;
border-radius: 12px;
}



aside,section{
    padding: 5px !important;
}