

.topbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    direction: rtl;
    flex: 1;
}
.topbar-wrapper div{
margin: 0 !important;
}
.logo-area {
  text-align: center;
}
.topbar-left {
    display: flex;
    margin-top: 0 !important;
    justify-content: flex-end;
}
.header.main-header .dropdown-menu {
  left: -54px;
}

header.main-header .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.message-item {
  position: relative;
}
.message-badge {
  width: 17px;
  height: 17px;
  color: red !important ;
  /* border: 1px solid rgba(0, 0, 0, 0.488); */
  border-radius: 100px !important;
  /* background-color: rgba(0, 0, 0, 0.204); */
  font-size: larger;
  position: absolute;
  top: 5px;
  right: 50px;
  text-align: center;
}


